<h1>Biblioteca do Material Design</h1>
<h2>Estilizando botões</h2>
<button mat-icon-button aria-label="Excluir">
  <mat-icon>delete</mat-icon>
</button>
<br>
<br>
<button mat-raised-button color="primary">Adicionar</button>
<br>
<br>
<h2>Estilizando Formulários</h2>
<p>
    <mat-form-field appearance="standard">

        <input matInput placeholder="Produto">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
</p>

<mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Preço</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="">
    <span matPrefix>R$&nbsp;</span>
    <span matSuffix>.00</span>
</mat-form-field>
<br>
<h2>Estilizando uma Toolbar</h2>
<p>
    <mat-toolbar color="primary">
        <span>Minha Aplicação</span>
    </mat-toolbar>
</p>
<br>